/CMakeLists.txt

*.o

.DS_Store

cmake-build-debug
cmake-build-debug-docker

.idea
middleware/*.txt
middleware/*.jpg
middleware/master
middleware/worker
middleware/client
.devcontainer/docker-compose.yml
.devcontainer/devcontainer.json

.vscode/
deployment/*.tfvars
deployment/.terraform/providers/*
deployment/terraform.tfstate
deployment/terraform.tfstate.backup
middleware/.env
*/logs*