/CMakeLists.txt

*.o

.DS_Store

cmake-build-debug
cmake-build-debug-docker

.idea
middleware/got.txt
middleware/test.txt
middleware/master
middleware/worker
middleware/client
.devcontainer/docker-compose.yml
.devcontainer/devcontainer.json

.vscode/
